
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}
p
<div class="mt-4">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Spor</th>
            <th>Aktif</th>
        </tr>
        <tr>
            <th>2</th>
            <th>Yazılım</th>
            <th>Pasif</th>
        </tr>
    </table>

</div>

