@using EntityLayer.Concrete
@model Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Category Page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid p-2">
        <form class="form-group" action="/AdminCategory/UpdateCategory" method="post">
            <div class="p-2">
                <label class="label text-black-50">Category ID</label>
                <input type="text" value="@Model.CategoryID" name="CategoryID" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Category Name</label>
                <input type="text" value="@Model.CategoryName" name="CategoryName" class="form-control" />
            </div>
            <div class="p-2">
                <label class="label text-black-50">Category Description</label>
                <textarea type="text" name="CategoryDescription" class="form-control">@Model.CategoryDescription</textarea>

            </div>
            <div class="p-2">
                <label class="label text-black-50">Category Status</label>
                <select>
                    <option type="text" value="true" name="CategoryStatus" class="form-control">@Model.CategoryStatus</option>
                    <option type="text" value="false" name="CategoryStatus" class="form-control">false</option>
                </select>
            </div>
            <div class="p-2">
                <button class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</body>
</html>