
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <h1>New Category Add Page</h1>
        <form class="form-group" method="post">
            <input type="text" placeholder="Category Name" name="CategoryName" class="form-control" />
            <input type="text" placeholder="Category Description" name="CategoryDescription" class="form-control" />
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
</body>
</html>
